<div class="flex-container" *ngIf="!GuestMode()">
  <div class="flex-item no-grow">
    <div>
      <button (click)="createGameTable()">製作新桌面</button>
    </div>
    <select style="width: 10em;" size="10" (change)="selectGameTable($event.target.value)"
      [ngModel]="selectedTable?.identifier">
      <option *ngFor="let gameTable of getGameTables()" value="{{gameTable.identifier}}">{{gameTable.name}}</option>
    </select>
  </div>
  <div class="flex-item">
    <ng-container *ngIf="!isEmpty || selectedTable">
      <div class="images-select">
        <div>
          圖片
          <div (click)="openBgImageModal()">
            <img height="120" [src]="tableBackgroundImage.url | safe: 'resourceUrl'">
          </div>
        </div>
        <div>
          背景
          <div *ngIf="!tableDistanceviewImage.url">
            <button (click)="openDistanceViewImageModal()" style="height: 120px;">添加背景圖片</button>
          </div>
          <div *ngIf="tableDistanceviewImage.url" (click)="openDistanceViewImageModal()">
            <img height="120" [src]="tableDistanceviewImage.url | safe: 'resourceUrl'">
          </div>
        </div>
      </div>
      <div>Name :
        <input [(ngModel)]="tableName" placeholder="Name" [attr.disabled]="!isEditable ? '' : null" />
      </div>
      <div>
        <input [(ngModel)]="tableWidth" type="range" title="{{tableWidth}}" min="{{minSize}}" max="{{maxSize}}"
          name="tableWidth" [attr.disabled]="!isEditable ? '' : null" /> Width :
        <input [(ngModel)]="tableWidth" type="number" min="{{minSize}}" max="{{maxSize}}" style="width: 5em;"
          [attr.disabled]="!isEditable ? '' : null">
      </div>
      <div>
        <input [(ngModel)]="tableHeight" title="{{tableHeight}}" type="range" min="{{minSize}}" max="{{maxSize}}"
          name="tableHeight" [attr.disabled]="!isEditable ? '' : null" /> Height :
        <input [(ngModel)]="tableHeight" type="number" min="{{minSize}}" max="{{maxSize}}" style="width: 5em;"
          [attr.disabled]="!isEditable ? '' : null">
      </div>
      <div>
        網格:
        <select [(ngModel)]="tableGridType" name="tableGridType" [attr.disabled]="!isEditable ? '' : null">
          <option value="-1">沒有</option>
          <option value="0">正方形</option>
          <option value="1">十六進制（垂直對齊）</option>
          <option value="2">十六進制（水平對齊）</option>
        </select>
        顏色:
        <select [(ngModel)]="tableGridColor" name="tableGridColor" [attr.disabled]="!isEditable ? '' : null">
          <option value="#000000e6">黒</option>
          <option value="#dddddde6">白</option>
        </select>
      </div>
      <div>
        背景濾鏡
        <select [(ngModel)]="tableDistanceviewFilter" name="tableDistanceviewFilter" [attr.disabled]="!isEditable ? '' : null">
          <option value="">沒有</option>
          <option value="white">白色</option>
          <option value="black">黑色</option>
        </select>
      </div>
      <hr />
      <div>
        <label>始終顯示網格:
          <input type="checkbox" [(ngModel)]="tableGridShow" name="tableGridShow" />
        </label>
        <label>Snap:
          <input type="checkbox" [(ngModel)]="tableGridSnap" name="tableGridSnap" />
        </label>
        <ng-container *ngIf="!isDeleted">
          <button [disabled]="isSaveing" (click)="save()">
            <div style="position: relative;">
              <div [ngClass]="{'is-hidden': isSaveing}">保存</div>
              <div *ngIf="isSaveing" class="progress">{{progresPercent}}%</div>
            </div>
          </button>
          <button class="danger" (click)="delete()" [attr.disabled]="getGameTables().length <= 1 ? '' : null">刪除</button>
        </ng-container>
        <ng-container *ngIf="isDeleted">
          <button (click)="restore()">Undo</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="isEmpty">
  <div style="font-size: 12px;">*未新增列表。 您可以使用“新增列表”。</div>
</ng-container>
