<div *ngIf="cardStack">
  <button (click)="close(true)">{{ 'stack.shuffleAndClose' | i18n }}</button>
  <hr/>
  <div *ngFor="let card of cards; trackBy: trackByCard" class="box">
    <card-list-image [card]="card"></card-list-image>
    <div style="display: inline-block; margin-left: 2px">
      <button type="submit" (click)="drawCard(card)">{{ 'stack.takeFromStack' | i18n }}</button>
      <button (click)="showDetail(card)"><i class="material-icons" style="font-size: 1.1em; vertical-align: text-bottom;">settings</i>{{ 'stack.editCard' | i18n }}</button>
      <br>
      <button (click)="up(card)">↑</button>
      <button (click)="down(card)">↓</button>
      <button (click)="card.rotate = (card.rotate == 180 ? 0 : 180)" style="margin-left: 5px">{{ 'stack.rotateCard' | i18n }}</button>
      <button (click)="card.state = (card.state == CardStateFront ? CardStateBack : CardStateFront)">{{ 'stack.flipCard' | i18n }}</button>
      <br>
    </div>
  </div>
</div>
