<div>
  <b>試聽音量<sup class="self-only">*</sup>：</b>
  <i class="material-icons" style="font-size: 22px">{{ auditionVolume == 0 ? 'volume_off' : auditionVolume <= 0.5 ? 'volume_down' : 'volume_up' }}</i> 
  <input [(ngModel)]="auditionVolume" type="range" title="{{percentAuditionVolume + '%'}}" min="0" max="1" step="0.01" style="width:53%" /> 
  <span style="white-space: nowrap;"><input type="number" min="0" max="100" step="1" style="width: 3em" [(ngModel)]="percentAuditionVolume"><b style="font-size: smaller; padding-left: 3px;">%</b></span>
</div>
<div>
  <b>播放音量<sup class="self-only">*</sup>：</b>
  <i class="material-icons" style="font-size: 22px">{{ volume == 0 ? 'volume_off' : volume <= 0.5 ? 'volume_down' : 'volume_up' }}</i> 
  <input [(ngModel)]="volume" type="range" min="0" title="{{percentVolume + '%'}}" max="1" step="0.01" style="width:53%" /> 
  <span style="white-space: nowrap;"><input type="number" min="0" max="100" step="1" style="width: 3em" [(ngModel)]="percentVolume"><b style="font-size: smaller; padding-left: 3px;">%</b></span>
</div>
<hr/>
<div style="margin-bottom: 3px">
  <div *ngFor="let audio of audios; last as last" class="box" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden" [ngClass]="{last: last}">
    <button *ngIf="audio !== auditionPlayer?.audio || auditionPlayer?.paused" (click)="play(audio)" [disabled]="!audio.isReady"><i class="material-icons">play_arrow</i>試聽<sup style="font-size: larger" class="self-only">*</sup></button>
    <button *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused" (click)="stop()" [disabled]="!audio.isReady"><i class="material-icons">stop</i>試聽<sup style="font-size: larger" class="self-only">*</sup></button>
    <button *ngIf="audio !== jukebox?.audio" (click)="playBGM(audio)" [disabled]="!audio.isReady"><i class="material-icons">loop</i>ＢＧＭ</button>
    <button *ngIf="audio === jukebox?.audio" (click)="stopBGM(audio)" [disabled]="!audio.isReady"><i class="material-icons">stop</i>ＢＧＭ</button>
    <span *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused && audio != jukebox?.audio" style="padding-left: 2px"><b>【試聽中】</b></span>
    <ng-container *ngIf="audio === jukebox?.audio">
      <span *ngIf="audio != auditionPlayer?.audio || (audio == auditionPlayer?.audio && auditionPlayer?.paused)" style="padding-left: 2px"><b>【ＢＧＭ】</b></span>
      <span *ngIf="audio === auditionPlayer?.audio && !auditionPlayer?.paused" style="padding-left: 2px"><b>【試聽/BGM】</b></span>
    </ng-container>
    <span style="font-size: smaller" style="padding-left: 2px">{{audio.name}}</span>
  </div>
  <div *ngIf="audios.length < 1">上傳的音樂文件將顯示在此處。</div>
</div>

<label>
  <div class="drop-zone" *ngIf="!GuestMode()">
    <div>
      <i class="material-icons large-font">playlist_add</i>
    </div>

    <div>ここに音楽をドロップ</div>
    <div class="small-font">或點擊這裡選擇</div>
    <input type="file" style="display: none;" (change)="handleFileSelect($event)" multiple accept="audio/*" />
    <div class="small-font">
      <br>每個文件最大10MB</div>
  </div>
</label>
<div style="font-size: 12px;">*「試聽」僅用您自己的揚聲器播放一次音樂。</div>
<div style="font-size: 12px;">*「 BGM」與房間中的每個人循環播放一種音樂。</div>
<div style="font-size: 12px;">*音樂文件不包含在當前版本的保存數據（zip）中。（每次都需要上傳）</div>
