<ng-container *ngIf="gameDataElement && !isNotApplicable && !(isHideText && (name == 'text' || name == 'fontsize' || name == 'color'))">
  <ng-container *ngIf="gameDataElement.children.length < 1">
    <div *ngIf="isEdit" class="table-cell table-cell_solid">
      <ng-container *ngTemplateOutlet="editButtons"></ng-container>
      <select #select (change)="setElementType(select.value)" [ngModel]="gameDataElement.type ?? ''">
        <option value="">{{ 'sheet.data.type.normal' | i18n }}</option>
        <option value="simpleNumber">{{ 'sheet.data.type.number' | i18n }}</option>
        <option value="numberResource">{{ 'sheet.data.type.resource' | i18n }}</option>
        <option value="abilityScore">{{ 'sheet.data.type.ability' | i18n }}</option>
        <option value="checkProperty">{{ 'sheet.data.type.check' | i18n }}</option>
        <option value="note">{{ 'sheet.data.type.note' | i18n }}</option>
        <option value="url">{{ 'sheet.data.type.url' | i18n }}</option>
      </select>
    </div>
    <div class="table-cell table-cell_solid">
      <ng-container *ngIf="isTagLocked">
        <button *ngIf="!isCommonValue" type="button" [attr.title]="'sheet.sendToChat' | i18n" style="vertical-align: middle; padding: 0 2px;" (click)="sendLogMessage()">
          <i class="material-icons" style="font-size: 1rem;">send</i>
        </button>
        <span style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</span>
        <ng-container *ngIf="descriptionType === 'character' && name === 'height'"><br><span style="font-size: 0.4rem">{{ 'sheet.data.heightImage' | i18n }}</span></ng-container>
      </ng-container>
      <ng-container *ngIf="!isTagLocked">
        <button type="button" [attr.title]="'sheet.sendToChat' | i18n" (click)="sendLogMessage()">
          <i class="material-icons icon-size">send</i>
        </button>
        <div class="hidden-spacer" style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{name}}</div>
        <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 0.9rem;" size="1"
          [(ngModel)]="name" [placeholder]="'sheet.placeholder.value' | i18n" />
      </ng-container>
    </div>
    <div class="table-cell">
      <ng-container *ngIf="isCommonValue">
        <ng-container [ngSwitch]="gameDataElement.name">
          <ng-container *ngSwitchCase="'opacity'">
            <div class="value-line" [class.is-dense]="dense">
              <input class="value-range" [style]="'--min: 0; --max: 100; --val:' + currentValue + ';' | safe: 'style'"
                [(ngModel)]="currentValue" type="range" title="{{currentValue}}%" min="0" max="100" step="1" />
              <input class="value-num" type="number" min="0" max="100" step="1" size="1" [(ngModel)]="currentValue" [placeholder]="'sheet.placeholder.opacity' | i18n" /><b class="move" style="font-size: small">%</b>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'color'">
            <ng-container *ngIf="gameDataElement.type === 'colors'">
              <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 6.5em" [style.color]="value" [style.background-color]="currentValue" [style.text-shadow]="colorSampleTextShadowCss"><input type="color" style="width: 1em" [(ngModel)]="value" /><div style="display: inline-block; box-sizing: border-box; width: calc(100% - 1em); text-align: center">{{value}}</div></label>
              <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 7.5em" [style.color]="value" [style.background-color]="currentValue" [style.text-shadow]="colorSampleTextShadowCss"><input type="color" style="width: 1em" [(ngModel)]="currentValue" /><div style="display: inline-block; box-sizing: border-box; width: calc(100% - 1em); text-align: center">({{currentValue}})</div></label>
            </ng-container>
            <ng-container *ngIf="gameDataElement.type === 'color'">
              <label class="color-sample" style="padding: 0px 2px 0px 0xp; width: 6.5em" [style.color]="value" [style.text-shadow]="colorSampleTextShadowCss"><input type="color" style="width: 1em" [(ngModel)]="value" /> {{value}}</label>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="value-line" [class.is-dense]="dense">
              <input class="value-range" [style]="'--min: 0; --max: ' + (name === 'fontsize' ? 128 : 12) + '; --val:' + value + ';' | safe: 'style'"
                [(ngModel)]="value" type="range" title="{{value}}" min="{{name === 'altitude' ? -12 : (name === 'fontsize' || name === 'length') ? 1 : 0}}" max="{{name === 'fontsize' ? 128 : 12}}" step="{{name === 'fontsize' ? 1 : 0.5}}" />
              <input class="value-num" type="number" min="{{name === 'altitude' ? -24 : (name === 'fontsize' || name === 'length') ? 1 : 0}}" step="{{name === 'fontsize' ? 1 : 0.1}}" size="1" [(ngModel)]="value" [placeholder]="'sheet.placeholder.value' | i18n" />
              <label *ngIf="descriptionType === 'character' && name === 'height'" class="height-scale" [class.strike]="!currentValue">
                {{ 'sheet.data.heightScale' | i18n }}
                <input type="checkbox" [(ngModel)]="currentValue" checked="{{currentValue ? 'checked' : ''}}" (change)="currentValue = (currentValue ? name : '')">
              </label>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isCommonValue">
        <ng-container [ngSwitch]="gameDataElement.type">
          <ng-container *ngSwitchCase="'simpleNumber'">
            <!-- 沒有 size 屬性就無法縮小 -->
            <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div> 
            <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" type="{{isNum(value) ? 'number' : 'text'}}" style="width:40%; min-width: 3em; max-width:8em; text-align:right" size="1" [(ngModel)]="value" [placeholder]="'sheet.placeholder.number' | i18n" />
          </ng-container>
          <ng-container *ngSwitchCase="'numberResource'">
            <div class="value-line" [class.is-dense]="dense">
              <input class="value-range" appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging"
                [style]="'--min: 0; --max: ' + value + '; --val:' + currentValue + ';' | safe: 'style'"
                [(ngModel)]="currentValue" type="range" title="{{currentValue}}" min="0" max="{{!isNum(value) ? 1000 : value}}" />
              <input class="value-num" appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" size="1" type="number" [(ngModel)]="currentValue" [placeholder]="'sheet.placeholder.value' | i18n" />
              <span class="value-sep">/</span>
              <input class="value-num" appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" size="1" type="number" [(ngModel)]="value" [placeholder]="'sheet.placeholder.value' | i18n" />
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'abilityScore'">
            <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" style="width:40%; max-width:5em; text-align:right" type="{{isNum(value) ? 'number' : 'text'}}" size="1" [(ngModel)]="value" [placeholder]="'sheet.placeholder.value' | i18n">
            <ng-container *ngIf="isEdit">
              <select class="modeifire-type" style="width:40%; max-width:5em" [(ngModel)]="currentValue">
                <option value="">{{ 'sheet.data.none' | i18n }}</option>
                <option value="div2">{{ 'sheet.modifier.div2' | i18n }}</option>
                <option value="div3">{{ 'sheet.modifier.div3' | i18n }}</option>
                <option value="div4">{{ 'sheet.modifier.div4' | i18n }}</option>
                <option value="div5">{{ 'sheet.modifier.div5' | i18n }}</option>
                <option value="div6">{{ 'sheet.modifier.div6' | i18n }}</option>
                <option value="div10">{{ 'sheet.modifier.div10' | i18n }}</option>
                <option value="DnD3">{{ 'sheet.modifier.dnd3e' | i18n }}</option>
              </select>
            </ng-container>
            <ng-container *ngIf="!isEdit && currentValue"><span style="font-size: smaller;">{{'(' + (abilityScore >=0 ? '+' : '') + abilityScore + ')'}}</span></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'checkProperty'">
              <input appLogging [logging.name]="tabletopObjectName" [logging.dataElement]="gameDataElement" [logging.disable]="isNoLogging" type="checkbox" [(ngModel)]="value" checked="{{value ? 'checked' : ''}}" (change)="value = (value ? name : '')">
              <input *ngIf="isEdit" style="width:50%; max-width:4em" type="text" size="1" [(ngModel)]="currentValue" [placeholder]="'sheet.placeholder.option' | i18n">
              <span *ngIf="!isEdit" style="font-size: 1.0em; font-family: Cambria, Georgia; color: #555">{{checkValue}}</span>
            </ng-container>
          <ng-container *ngSwitchCase="'note'">
            <textarea class="note-field" [class.is-dense]="dense" [(ngModel)]="value" [placeholder]="'sheet.placeholder.note' | i18n"></textarea>
          </ng-container>
          <ng-container *ngSwitchCase="'url'">
            <!-- 沒有 size 屬性就無法縮小 -->
            <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
            <span style="white-space: nowrap">
              <input type="url" style="width:calc(100% - 1.6rem); min-width:10px;" size="1" [(ngModel)]="value" [placeholder]="'common.urlExample' | i18n" />
              <button style="width: 1.6rem" [attr.disabled]="!stringUtil.validUrl(value.toString()) ? '' : null" (click)="stringUtil.validUrl(value.toString()) ? openUrl(value) : false"><i class="material-icons" style="font-size: 1.0rem">{{ !stringUtil.validUrl(value.toString()) ? 'link_off' : (stringUtil.sameOrigin(value.toString()) ? 'link' : 'open_in_new') }}</i></button>
            </span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <!-- 沒有 size 屬性就無法縮小 -->
            <div class="hidden-spacer" style="font-size: 1.0em; font-family: Cambria, Georgia;">{{value}}</div>
            <input *ngIf="!(isHideText && isTabletopObjectName)" style="width:100%; min-width:10px;" size="1" [(ngModel)]="value" placeholder="" />
            <span *ngIf="isHideText && isTabletopObjectName" style="color: gray; font-size: 1.0em; font-family: Cambria, Georgia;">{{ 'sheet.data.cardBack' | i18n }}</span>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="0 < gameDataElement.children.length">
    <div *ngIf="isEdit" class="table-cell table-cell_solid dense-edit" style="vertical-align: top;">
      <ng-container *ngTemplateOutlet="editButtons"></ng-container>
    </div>
    <div class="table-cell table-cell_inner-table dense-spacer" style="padding:0; width:0;"></div>
    <div class="table-cell_inner-table dense-section-body">
      <div class="table-cell_inner-table-title" [style.border-color]="isTagLocked && name === 'common' ? 'transparent' : ''">
        <ng-container *ngIf="isTagLocked && name != 'common'">
          <div style="padding: 2px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;">{{name}}</div>
        </ng-container>
        <ng-container *ngIf="!isTagLocked">
          <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;"
            size="1" [(ngModel)]="name" [placeholder]="'sheet.placeholder.value' | i18n" />
        </ng-container>
      </div>
      <div class="table dense-children" *ngIf="0 < gameDataElement.children.length">
        <div game-data-element class="table-row" [class.dense-row]="dense" *ngFor="let childElement of gameDataElement.children"
          [gameDataElement]="$any(childElement)" [tabletopObject]="tabletopObject" [isEdit]="isEdit" [isTagLocked]="isTagLocked" [isHideText]="isHideText" [isNoLogging]="isNoLogging" [descriptionType]="descriptionType" [dense]="dense"></div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #editButtons>
  <button (click)="addElement()"><i class="material-icons">add_circle</i></button>
  <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
  <br>
  <button (click)="deleteElement()"><i class="material-icons">remove_circle_outline</i></button>
  <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
</ng-template>